# Node
node_modules/
.npm
npm-debug.log*

# Next.js
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local

# NestJS
dist/
.env

# Editor
.vscode/
.idea/
.DS_Store

# Turborepo
.turbo/

# Tests
coverage/

# Docker
.docker/

# Prisma
packages/database/prisma/migrations/
packages/database/prisma/dev.db
